@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.apexcharts-tooltip span {
  color: #ffffff;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

#root {
  height: 100%;
}

.bg {
  background: #252427;
}

.black-bg {
  background: rgba(0, 0, 0);
}

.nft-gradient {
  background: linear-gradient(
    101.12deg,
    #eb1484 0.01%,
    #dabb40 99.99%,
    #dfbb2e 100%,
    #ecbf0f 100%
  );
}

.bg-none {
  background: none;
}

.btn-background {
  background: #3e3d41;
}

.light-gray-bg {
  background: #66646b;
}

.pink_gradient {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 300px;
  height: 300px;
  border-radius: 50%;

  background: #fb37ff;
  filter: blur(500px);
}

.blue_gradient {
  position: absolute;
  bottom: 0%;
  right: 0%;
  width: 300px;
  height: 250px;
  border-radius: 50%;

  background: #18b2de;
  filter: blur(500px);
}
