@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, #app>div {
  height: 100%
}

#root {
  height: 100%
}

.bg {
  background: #252427;
}

.black-bg {
  background: rgba(0, 0, 0);
}

.nft-gradient {
   background: linear-gradient(101.12deg, #EB1484 0.01%, #dabb40 99.99%, #dfbb2e 100%, #ecbf0f 100%);
}

.btn-background {
  background: #3E3D41;
}