@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app, #app>div {
  height: 100%
}

#root {
  height: 100%
}

.main-left-bg {
  background: #eb1484;
}

.main-right-bg {
  background: #c81cc5;
}

.black-bg {
  background: rgba(0, 0, 0);
}